#Webiny/Core
/vendor/

#PHPStorm
.idea/

# Mac crap
.DS_Store
._.DS_Store

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath                               
