.btnGroup button:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0;
}

.btnGroup button:first-child:not(:last-child):hover {
	box-shadow: none;
}

.btnGroup button:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: 0px;
}

.btnGroup button:last-child:not(:first-child):hover {
	box-shadow: none;
}

.btnGroup button:not(:last-child):not(:first-child) {
	border-radius: 0;
	margin: 0;
}

.btnGroup :global(button.Webiny_Core_Button_btn):hover,
.btnGroup :global(button.Webiny_Core_Button_btn):active,
.btnGroup :global(button.Webiny_Core_Button_btn):focus,
.btnGroup :global(button.Webiny_Core_Button_btn):focus:active {
	box-shadow: none;
}

@media (max-width: 768px) {
	.btnGroup {
		display: flex;
	}

	.btnGroup :global(button.Webiny_Core_Button_btn) {
		flex-grow: 1;
	}

	.btnGroup button:not(:last-child):not(:first-child) {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}