// Filter
@mixin filter($filter-type,$filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
}


// Linear Gradient
@mixin linear-gradient($angle, $fromColor, $toColor) {
    background: $toColor; /* Fallback Color */
    background: -webkit-gradient(linear, to left $angle, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background: -webkit-linear-gradient(to $angle, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background:    -moz-linear-gradient(to $angle, $fromColor, $toColor); /* FF3.6 */
    background:     -ms-linear-gradient(to $angle, $fromColor, $toColor); /* IE10 */
    background:      -o-linear-gradient(to $angle, $fromColor, $toColor); /* Opera 11.10+ */
    background:         linear-gradient(to $angle, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


// Border Gradient
@mixin border-gradient($fromColor, $toColor) {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from($fromColor), to($toColor)) 1 100%;
    -webkit-border-image:
    -webkit-linear-gradient($fromColor, $toColor) 1 100%;
    -moz-border-image:
    -moz-linear-gradient($fromColor, $toColor) 1 100%;
    -o-border-image:
    -o-linear-gradient($fromColor, $toColor) 1 100%;
    border-image:
    linear-gradient(to bottom, $fromColor, $toColor) 1 100%;
}


// Position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}



@mixin absolute($args...) {
    @include position(absolute, $args...);
}

@mixin fixed($args...) {
    @include position(fixed, $args...);
}

@mixin relative($args...) {
    @include position(relative, $args...);
}


// Aspect Ratio
@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        @include absolute($top: 0, $left: 0, $right: 0, $bottom: 0);
    }
}


// Responsive
@mixin media($conditions...) {
    $i: 1;

    @each $condition in $conditions {
        $conditions: set-nth($conditions, $i, parse-expression(nth($conditions, $i)));
        $i: $i + 1;
    }

    $branches: get-query-branches($conditions);
    $query: "";

    @each $branch in $branches {
        @if ($query != "") {
            $query: $query + ", ";
        }

        $query: $query + $branch;
    }

    @media #{$query} { @content; }
}

@function get-query-branches($expressions) {
    $result: "";
    $has-groups: false;

// Getting initial snapshot and looking for groups
@each $expression in $expressions {
    @if ($result != "") {
        $result: $result + " and ";
    }

    @if (type-of($expression) == "string") {
        $result: $result + $expression;
    } @else if (type-of($expression) == "list") {
        $result: $result + nth($expression, 1);
        $has-groups: true;
    }
}

// If we have groups, we have to create all possible combinations
@if $has-groups {
    @each $expression in $expressions {
        @if (type-of($expression) == "list") {
            $first: nth($expression, 1);

            @each $member in $expression {
                @if ($member != $first) {
                    @each $partial in $result {
                        $result: join($result, str-replace-first($first, $member, $partial));
                    }
                }
            }
        }
    }
}

@return $result;
}

@function parse-expression($expression) {
    $operator: "";
    $value: "";
    $element: "";
    $result: "";
    $is-width: true;

// Separating the operator from the rest of the expression
@if (str-slice($expression, 2, 2) == "=") {
    $operator: str-slice($expression, 1, 2);
    $value: str-slice($expression, 3);
} @else {
    $operator: str-slice($expression, 1, 1);
    $value: str-slice($expression, 2);
}

// Checking what type of expression we're dealing with
@if map-has-key($breakpoints, $value) {
    $result: map-get($breakpoints, $value);
} @else if map-has-key($media-expressions, $expression) {
    $result: map-get($media-expressions, $expression);
    $is-width: false;
} @else {
    $result: to-number($value);
}

@if ($is-width) {
    @if ($operator == ">") {
        $element: "(min-width: #{$result + 1})";
    } @else if ($operator == "<") {
        $element: "(max-width: #{$result - 1})";
    } @else if ($operator == ">=") {
        $element: "(min-width: #{$result})";
    } @else if ($operator == "<=") {
        $element: "(max-width: #{$result})";
    }
} @else {
    $element: $result;
}

@return $element;
}

@function str-replace-first($search, $replace, $subject) {
    $search-start: str-index($subject, $search);

    @if not $search-start {
        @return $subject;
    }

    $result: str-slice($subject, 0, $search-start - 1);
    $result: $result + $replace;
    $result: $result + str-slice($subject, $search-start + str-length($search));

    @return $result;
}

@function _length($number, $unit) {
    $strings: 'px' 'cm' 'mm' '%' 'ch' 'pica' 'in' 'em' 'rem' 'pt' 'pc' 'ex' 'vw' 'vh' 'vmin' 'vmax';
    $units:   1px  1cm  1mm  1%  1ch  1pica  1in  1em  1rem  1pt  1pc  1ex  1vw  1vh  1vmin  1vmax;
    $index: index($strings, $unit);

    @if not $index {
        @warn "Unknown unit `#{$unit}`.";
        @return false;
    }

    @return $number * nth($units, $index);
}

@function to-number($string) {
// Matrices
$strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
$numbers:  0   1   2   3   4   5   6   7   8   9;

// Result
$result: 0;
$divider: 0;
$minus: false;

// Looping through all characters
@for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);


    @if $character == '-' {
        $minus: true;
    }

    @else if $character == '.' {
        $divider: 1;
    }

    @else {
        @if not $index {
            $result: if($minus, $result * -1, $result);
            @return _length($result, str-slice($string, $i));
        }

        $number: nth($numbers, $index);

        @if $divider == 0 {
            $result: $result * 10;
        }

        @else {
// Move the decimal dot to the left
$divider: $divider * 10;
$number: $number / $divider;
}

$result: $result + $number;
}
}

@return if($minus, $result * -1, $result);
}