body {
	background-color: #fff;
}

.placeholder-container {
	border: 1px solid #c6c6c6;
	min-height: 100px;
	padding: 20px;
}

.component {
	box-shadow: 0 0 8px 0px #999;
}

/********************/

#weather {
	width: 425px;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
}

#weather h2 {
	margin: 0 0 8px;
	color: #fff;
	font-size: 150px;
	font-weight: 300;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
	margin: 0;
	padding: 0;
}

#weather li {
	background: #fff;
	background: rgba(255, 255, 255, 0.90);
	padding: 20px;
	display: inline-block;
	border-radius: 5px;
}

#weather .currently {
	margin: 0 20px;
}
