.cms.cms-editor .page-title-wrapper {
	border-bottom: 4px solid #E8E8E8;
	padding-bottom: 10px;
}

.cms.cms-editor .page-title-wrapper .page-title-input {
	color: #333;
	font-size: 3em;
	width: 100%;
	font-weight: 300;
}

.cms.cms-editor .page-view-options {
	margin-top: 10px;

}

.cms.cms-editor .page-content-builder{
	padding-bottom: 200px;
	margin-top: 10px;
}

.cms.cms-editor .page-content-builder .add-content-msg:hover {
	background-color: rgba(250, 90, 40, 1);
	color: #fff;
}

.cms.cms-editor .page-content-builder .widget {
	margin: 5px 0px;
	border: 1px dashed #E8E8E8;
	min-height: 50px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cms.cms-editor .page-content-builder{
	padding-right: 5px;
}

.cms.cms-editor .page-content-builder::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 5px;
	padding-right: -10px;
	background-color: transparent;
}

.cms.cms-editor .page-content-builder::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: rgba(0,0,0,.2);
}

.cms.cms-editor .page-content-builder .widget.empty{
	color: #666;
	text-transform: uppercase;
	text-align: center;
	background-color: #E8E8E8;
	padding-top: 15px;
	cursor: pointer;
}

.cms.cms-editor .page-content-builder .widget.empty:hover{
	color: #333;
}

.cms.cms-editor .page-content-builder .widget.empty:before{
	font-family: 'fontello';
	content: '\e816';
}

.cms.cms-editor .page-content-builder .widget .widget-options{
	display: none;
}

.cms.cms-editor .page-content-builder .widget:hover{
	z-index: 100;
}

.cms.cms-editor .page-content-builder .widget:hover .widget-options{
	display: block;
	background-color: rgba(255,255,255,0.85);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
}

.cms.cms-editor .page-content-builder .widget .widget-options .widget-edit-btn li{
	text-align: center;
}
.cms.cms-editor .page-content-builder .widget .widget-options .widget-edit-btn li>a{
	display: inline-block;
	padding: 3px 5px;
}


.cms.cms-editor .page-content-builder .widget:hover .widget-content{
	filter:blur(4px);
	-o-filter:blur(4px);
	-ms-filter:blur(4px);
	-moz-filter:blur(4px);
	-webkit-filter:blur(4px);
	overflow: hidden;
}

.cms.cms-editor .page-content-builder .widget-content.widget-html-text{
	padding: 0 10px;
}

/****************** WIDGET SELECTOR ******************/
.cms.cms-editor .widget-selector{
	background-color: red;
}