@font-face {
  font-family: 'fontello';
  src: url('@{Core_Layout}/Fonts/fontello.eot?78734056');
  src: url('@{Core_Layout}/Fonts/fontello.eot?78734056#iefix') format('embedded-opentype'),
       url('@{Core_Layout}/Fonts/fontello.woff?78734056') format('woff'),
       url('@{Core_Layout}/Fonts/fontello.ttf?78734056') format('truetype'),
       url('@{Core_Layout}/Fonts/fontello.svg?78734056#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../Fonts/fontello.svg?78734056#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gauge:before { content: '\e800'; } /* '' */
.icon-prev:before { content: '\e801'; } /* '' */
.icon-columns:before { content: '\e802'; } /* '' */
.icon-browser:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-exclamation-circle:before { content: '\e805'; } /* '' */
.icon-info:before { content: '\e806'; } /* '' */
.icon-good:before { content: '\e807'; } /* '' */
.icon-file-o:before { content: '\e808'; } /* '' */
.icon-caret-down:before { content: '\e809'; } /* '' */
.icon-caret-right:before { content: '\e809'; transform: rotate(270deg); } /* '' */
.icon-caret-up:before { content: '\e809'; transform: rotate(180deg); } /* '' */
.icon-caret-left:before { content: '\e809'; transform: rotate(90deg); } /* '' */
.icon-comments:before { content: '\e80a'; } /* '' */
.icon-external-link:before { content: '\e80b'; } /* '' */
.icon-keys:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-next:before { content: '\e80e'; } /* '' */
.icon-settings:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-bad:before { content: '\e811'; } /* '' */
.icon-bell:before { content: '\e812'; } /* '' */
.icon-sign-out:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-basket_n:before { content: '\e815'; } /* '' */
.icon-plus-circled:before { content: '\e816'; } /* '' */
.icon-cancel-circled:before { content: '\e817'; } /* '' */
.icon-ok-circled:before { content: '\e818'; } /* '' */
.icon-floppy:before { content: '\e819'; } /* '' */
.icon-desktop:before { content: '\e81a'; } /* '' */
.icon-tablet:before { content: '\e81b'; } /* '' */
.icon-mobile:before { content: '\e81c'; } /* '' */
.icon-minus-circled:before { content: '\e81d'; } /* '' */
.icon-edit:before { content: '\e81e'; } /* '' */