.form-group {
	min-height: 72px;
}

label, .form-group label, label.control-label {
	font-size: 16px;
	color: #393939;
	margin-both: 5px;
	clear: left;
	cursor: pointer;
}

.form-group .row {
	margin: 0px;
}

.form-group label span.mandat {
	color: #CC3300;
	margin-left: 2px;
}

.form-control {
	border: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 3px solid #ccc;
	width: 100%;
	line-height: 135%;
	padding: 0px 8px;
	background: #F5F5F5;
	color: #333;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.form-control:focus {
	background: #fff;
	border-color: #ccc;
}

.form-control:disabled {
	opacity: 0.5;
}

.form-control[readonly], .form-control[readonly]:hover, .form-control[readonly]:focus {
	color: #393939 !important;
	background-color: #F5F5F5 !important;
}

input.form-control {
	height: 45px;
}

textarea.form-control {
	height: 145px;
	line-height: 135%;
	padding: 8px 8px;
}

.form-group {
	position: relative;
}

.form-group.error input.form-control {
	border-right: 1px solid #CC3300;
	border-bottom: 3px solid #CC3300;
}

.form-group.success input.form-control {
	border-right: 1px solid #3FBFB0;
	border-bottom: 3px solid #3FBFB0;
}

.form-group span.icon {
	position: absolute;
	top: 28px;
	z-index: 500;
	font-size: 41px;
	line-height: 98%;
	right: -6px;
}

.form-group.error span.icon {
	color: #CC3300;
}

.form-group.success span.icon {
	color: #3FBFB0;
	top: 27px;
	right: -4px;
}

.form-group span.info-txt {
	float: right;
	color: #6C6C6C;
	margin-top: 3px;
	font-size: 0.9em;
	font-weight: 500;
}

.form-group.error span.info-txt {
	color: #cc3300;
}

.form-group .bootstrap-switch {
	margin-top: 8px;
}

.form-group label.cb-label {
	margin-top: 10px;
}

.form-group .dropdown {
	display: block;
	margin-right: 0;
}

.form-group .dropdown.sel button {
	border: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 3px solid #ccc;
	width: 100%;
	height: 45px;
	line-height: 135%;
	padding: 0px 10px;
	background: #F5F5F5;
	color: #333;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.form-group .dropdown.sel.open button {
	background: #fff;
}

.form-group .dropdown.sel .dropdown-value {
	float: left;
	font-size: 14px;
	font-weight: 500;
}

.form-group .dropdown.sel .caret {
	float: right;
	margin-top: 8px;
	margin-right: 5px;
}

.form-group .dropdown.sel .dropdown-menu {
	width: 100%;
	margin-top: -3px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 15px 15px 5px 15px;
}

.form-group .dropdown.sel .dropdown-menu li {
	margin-bottom: 2px;
}

.form-group .dropdown.sel .dropdown-menu>li label {
	padding-top: 0px;
}

.form-group .dropdown.sel .dropdown-menu li a {
	padding: 5px 10px;
}

.form-group .picker-holder {
	position: relative;
	cursor: pointer;
}

.form-group .picker-holder .ui-datepicker-trigger {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 45px;
	width: 100%;
	z-index: 500;
}

.form-group .picker-holder input {
	cursor: pointer;
}

.form-group .picker-holder span.icon_c {
	font-size: 28px;
	color: #333;
	top: 7px;
	right: 6px;
	position: absolute;
	z-index: 8;
}

form.form-sm .form-group {
	margin-bottom: 10px;
	min-height: 56px;
}

form.form-sm .form-group input.form-control,
form.form-sm .form-group .dropdown.sel button {
	height: 35px;
}

form.form-sm .form-group label {
	margin-bottom: 0px;
}

form.form-sm .form-group input.form-control,
form.form-sm .form-group.error input.form-control,
form.form-sm .form-group.success input.form-control,
form.form-sm .form-group textarea.form-control,
form.form-sm .form-group.error textarea.form-control,
form.form-sm .form-group.success textarea.form-control,
form.form-sm .form-group .dropdown.sel button {
	border-bottom-width: 2px;
}

form.form-sm .form-group span.icon,
form.form-sm .form-group.error span.icon,
form.form-sm .form-group.success span.icon {
	display: none;
}

form.form-sm textarea.form-control {
	height: 80px;
}

form.form-sm .form-group .bootstrap-switch {
	margin-top: 3px;
}

form.form-sm .form-group .dropdown.sel .dropdown-menu {
	margin-top: -5px;
}

form.form-sm .form-group .picker-holder span.icon_c {
	font-size: 20px;
}

form.navbar-form {
	margin: 0px;
	padding: 0px;
}

form.navbar-form .form-group {
	min-height: 0px;
	margin-bottom: 5px;
}

form.navbar-form .form-group input {
	min-width: 200px;
}