.dropdown {
	margin-right: 8px;
	display: inline-block;
}

.dropdown > .btn {
	border-color: #ccc;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 6px 8px;
	height: 35px;
	line-height: 156%;
	position: relative;
	z-index: 110;
	margin-right: 0px;
}

.dropdown.open > .btn,
.dropdown.open > .btn:hover {
	padding-top: 4px;
	border-bottom: none;
	border-color: #ccc;
}

.dropdown.open > .btn {
	background-color: #fff;
}

.dropdown > .btn:hover {
	border-right: 2px solid #9A9A9A;
	border-bottom: 2px solid #9A9A9A;
}

.dropdown > .btn > .caret {
	margin-left: 5px;
}

.dropdown > .dropdown-menu {
	padding: 10px 5px 5px 5px;
	border-radius: 0px;
	margin-top: -1px;
	border: 1px solid #ccc;
	box-shadow: 6px 8px 12px -4px rgba(0, 0, 0, .175);
	left: 0px;
	z-index: 100;
	text-align: left;
}

.dropdown-menu>li {
	list-style: none;
	padding-left: 0;
}

.dropdown-menu>li.dropdown-header{
	padding-left: 10px;
}

.dropdown-menu>li>a{
	padding: 3px 10px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: -1px;
}

.dropdown.right {
	text-align: right;
}

.dropdown.right > .dropdown-menu {
	right: 0px;
	left: auto;
	border-right: 2px solid #CCC;
}

.dropdown.balloon > .dropdown-menu {
	z-index: 120;
}

.dropdown.balloon > .dropdown-menu:before {
	background: url(../img/arr_2.png) no-repeat;
	top: -10px;
	content: "";
	left: 10px;
	display: inline-block;
	height: 43px;
	width: 17px;
	position: absolute;
}

.dropdown.balloon.right > .dropdown-menu:before {
	left: auto;
	right: 10px;
}

.dropdown.balloon > .btn,
.dropdown.open.balloon > .btn {
	border: none;
	padding: 5px;
}

.btn-group > .dropdown-toggle.btn-lg{
	height: 51px;
}

.btn-group > .dropdown-toggle.btn-success {
	background: #3FBFB0;
	border: 1px solid #2E8B80;
}

.btn-group.open > .dropdown-toggle.btn-success,
.btn-group > .dropdown-toggle.btn-success:hover {
	background: #32988B;
	background-color: #32988B;
}

.btn-group.open > .dropdown-toggle.btn-primary {
	background: #ED4005;
	border-color: #ED4005;
}