.btnGroup button:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0;
}

.btnGroup button:first-child:not(:last-child):hover {
	box-shadow: none;
}

.btnGroup button:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btnGroup button:last-child:not(:first-child):hover {
	box-shadow: none;
}

.btnGroup button:not(:last-child):not(:first-child) {
	border-radius: 0;
	margin: 0;

}

.btnGroup button:not(:last-child):not(:first-child):hover {
	box-shadow: none;
}