.btnGroup .btn:first-child:not(:last-child){
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0;
}

.btnGroup .btn:first-child:not(:last-child):hover{
	box-shadow: none;
}

.btnGroup .btn:last-child:not(:first-child){
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btnGroup .btn:last-child:not(:first-child):hover{
	box-shadow: none;
}