.growl {
	z-index: 9999;
	color: #ffffff;
	position: fixed;
}

.growl.top-left {
	left: 0;
	top: 55px;
}

.growl.top-right {
	right: 0;
	top: 55px;
}

.growl.bottom-left {
	left: 0;
	bottom: 55px;
}

.growl.bottom-right {
	right: 0;
	bottom: 55px;
}

.growl.center {
	top: 0;
	width: 50%;
	left: 25%;
}

.growl.center .growl-notification,
.growl.center .growl-closer {
	margin-left: auto;
	margin-right: auto;
}

.growl-notification {
	background: #3F89BF;
	padding: 15px 10px 10px 45px;
	border: none;
	font-size: 15px;
	color: #fff;
	line-height: 125%;
	font-weight: 300;
	border-radius: 0px;
	zoom: 1;
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	display: none;
	word-break: break-all;
	min-height: 40px;
}

.growl-notification.danger {
	background: #CC3300;
}

.growl-notification.success {
	background: #3FBFB0;
}

.growl-notification.warning {
	background: #FAA32E;
}

.growl-notification .ui-state-highlight,
.growl-notification .ui-widget-content .ui-state-highlight,
.growl-notification .ui-widget-header .ui-state-highlight {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}

.growl-notification .growl-header {
	font-weight: 600;
	font-size: .85em;
}

.growl-notification .growl-close {
	background-color: transparent;
	color: inherit;
	border: none;
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
}

.growl-closer {
	background-color: transparent;
	color: #FA5723;
	zoom: 1;
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	word-break: break-all;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
}

.growl-closer .ui-state-highlight,
.growl-closer .ui-widget-content .ui-state-highlight,
.growl-closer .ui-widget-header .ui-state-highlight {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}

/** Hide growl when printing **/
@media print {
	.growl {
		display: none;
	}
}