th {
	text-align: center;
}

table.table {
	clear: both;
	width: 100%;
}

table.table thead {
	border-top: 4px solid #FA5723;
	padding: 20px;
	font-weight: 800;
	font-size: 16px;
	color: #464646;
	text-align: center;
}

table.table.table-simple thead {
	border-top-width: 2px;
}

table.table .dropdown > .btn {
	z-index: 10;
}

table.table .dropdown .dropdown-menu {
	z-index: 9;
}

table.table thead th, table.table tfoot td {
	border-right: 1px solid #CCC;
	white-space: nowrap;
}

table.table.table-simple thead th,
table.table.table-simple tfoot td,
table.table.table-simple tbody td{
	border-right: none;
}

table.table thead th {
	padding: 10px;
	vertical-align: middle;
}

table.table thead th > a, table.table thead .btn {
	font-weight: 800;
	font-size: 16px;
	color: #464646;
}

table.table thead .dropdown .btn, table.table thead .dropdown.open .btn {
	background-color: transparent;
	text-transform: none;
	padding: 0;
	margin: 0;
}

table.table thead th.sorted,
table.table > tbody > tr > td.sorted,
table.table.table-striped > tbody > tr:nth-child(odd) > td.sorted {
	background: #EDEDED;
}

table.table.table-striped > tbody > tr:nth-child(even) > td.sorted {
	background: #F6F6F6;
}

table.table tbody tr.active td.sorted {
	background: #ffefea !important;
}

table.table > thead > tr > th {
	border-bottom: none;
}

table.table tbody tr:hover, table.table > tbody > tr:hover > td {
	background: #ffefea !important;
}

table.table tbody tr td {
	padding: 10px 15px;
	font-size: 14px;
	color: #666666;
	text-align: left;
	border-right: 1px solid #CCC;
	vertical-align: middle;
}

table.table thead tr th:last-child,
table.table tbody tr td:last-child,
table.table tfoot tr td:last-child {
	border-right: none;
}

table.table tbody tr:first-child {
	border-top: 2px solid #ddd;
}

table.table tbody tr:last-child {
	border-bottom: 2px solid #ddd;
}

table.table.table-simple tbody tr:first-child,
table.table.table-simple tbody tr:last-child{
	border-top: none;
	border-bottom: none;
}

table.table tbody tr.active {
	border: 2px solid #FA5825;
}

table.table tbody tr.active td {
	background: #FFEFEA;
}

table.table td a.expand {
	width: 22px;
	height: 23px;
	background: #D8D8D8;
	font-size: 20px;
	font-weight: 800;
	float: left;
	text-align: center;
	margin-right: 15px;
	line-height: 130%;
	color: #fff;
}

table.table td a.expand:after {
	content: '+';
}

table.table th.sorted span {
	color: #F95722;
}

table.table th.sorted,
table.table td.sorted {
	background: #EDEDED;
}

table.table.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background: #F6F6F6;
}

table.table td a.expand:hover {
	text-decoration: none;
}

table.table td a.expand.close {
	background: #3FBFB0;
	opacity: 1;
	line-height: 110%;
}

table.table td a.expand.close:after {
	content: '-';
}

table.table tr.hidden-row {
	display: none;
}

table.table tr.hidden-row dl {
	margin-bottom: 0px;
	font-size: 1em;
}

table.table tr.hidden-row td .icheckbox_minimal, table.table tr.hidden-row td .iradio_minimal{
	margin: 10px 10px 0px 0px;
}

table.table tr.hidden-row td .dropdown-menu .icheckbox_minimal{
	margin-top: 0px;
}

table.table tr.hidden-row:hover>td{
	background-color: #fff !important;
}

table.table td a.expand:hover {
	background: #999;
}

table.table td img {
	margin-right: 15px;
	float: left;
}

table.table tfoot tr td {
	padding: 20px;
	font-size: 15px;
	color: #333;
	font-weight: 800;
	border-bottom: 4px solid #3B3B3B;
}

table.table.table-simple tfoot tr td {
	border-bottom-width: 2px;
}

table.table .icheckbox_minimal, table.table .icheckbox_minimal .iradio_minimal {
	margin: 0px;
}

/** Table filters */
.table-filters {
	position: absolute;
	width: 100%;
	z-index: 100;
	border: 1px solid #ccc;
	box-shadow: 6px 8px 12px -4px rgba(0, 0, 0, .175);
	background-color: #fff;
	padding: 20px 30px;
	margin-top: -11px;
	border-radius: 0px;
}

.table-filters li > a.filter {
	padding: 0px;
	float: left;
	clear: none;
	margin-left: 20px;
}

.table-filters li {
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
}

.table-filters a.del {
	background: #ECECEC;
	color: #333;
	padding: 3px 5px 5px 5px;
	float: right;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	line-height: 75%;
	margin-top: 4px;
	margin-right: 20px;
	clear: none;
}

.table-filters form .form-group {
	min-height: 0px;
	margin-bottom: 5px;
}

.table-filters form label {
	padding-top: 5px;
}

/** /Table filters */

/** Applied filters */
.applied-filters {
	border-top: 1px solid #E4E4E4;
	padding: 15px 0px;
}

.applied-filters span {
	font-size: 12px;
	color: #666;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}

.applied-filters ul {
	margin: 0px;
}

.applied-filters ul li {
	float: left;
	margin-right: 5px;
	background: #F4F4F4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	list-style: none;
}

.applied-filters ul li a {
	float: left;
	margin-right: 5px;
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}

.applied-filters ul li a.del {
	float: right;
	font-weight: 800;
	color: #333;
	font-size: 14px;
	color: #999;
	margin: 0px;
	margin-top: -2px;
}

.applied-filters ul li a.del:hover {
	color: #666;
}

.applied-filters a.clear-all {
	color: #666;
	float: right;
	margin-top: 5px;
}

.applied-filters a.clear-all:hover {
	text-decoration: underline;
}

.applied-filters a.clear-all span {
	float: right;
	float: right;
	font-weight: 800;
	color: #333;
	font-size: 13px;
	color: #999;
	margin: 0px;
	background: #CC3300;
	color: #fff;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 115%;
	padding: 0px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin: 2px 0px 0px 5px;
}

/** /Applied filters */

table.table .list-group{
	margin-bottom: 0px;
}
table.table  .list-group-item, a.list-group-item:hover{
	border-radius: 0px;
	background-color: transparent;
	border:none;
	padding: 0px;
}

table.table  .list-group-item-text{
	font-size: 14px;
	color: #666;
	line-height: 140%;
}