.master-content__header {
  padding: 40px 50px;
  
	.btn {
		position: relative;
		top: 8px;
	}
}

.master-content__title-wrapper {
	display: inline-block;

}

.master-content__title {
	border: 0;
	margin: 0;
}

.master-content__header--with-bg {
	background-color: #fff;
}