.react-sandbox {
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  background: #272822;
  min-height: 200px;

  &__toolbar {
    height: 45px;
    background-color: black;
    margin: 0;
    padding-top: 7px;
    padding-left: 10px;

    &:before {
      content: '';
      display: inherit;
    }

    > div {
      padding: 0px
    }

    .btn, .btn:focus, .btn:active, .btn:hover {
      padding: 5px 10px;
      border:none;
      border-radius: 0px;
      margin-right: 25px;
      width: 100px;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      color: #fff;
      background-color: transparent;
      box-shadow: none;

      &.paneActive {
        background-color: #00C7B1;
        color: #333;
      }

      &.run-code {
        margin-right: 10px;
        background-color: #00C7B1;
        color: #333;
      }
    }

  }
  &__editor-area {
    margin: 0;
    display: flex;
    overflow: hidden;

    &__code-block {
      padding: 0px;
      overflow: hidden;
      height: 300px;

      .form-group {
        padding: 0px;
        margin: 0px;
        height: 100%;
        overflow: visible;
        > div {
          padding: 0;
          margin: 0px;
          height: 100%;
          overflow: visible;
        }
      }

      .CodeMirror {
        height: 100% !important;
        overflow: visible;
        font-size: 13px;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

        .CodeMirror-scrollbar-filler{
          opacity: 0;
        }


        ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }

        ::-webkit-scrollbar-track{
          background-color: #272822;
        }

        ::-webkit-scrollbar-thumb{
          border-radius: 0px;
          background-color: #444;
          border: none;
        }

        ::-webkit-scrollbar:vertical{
          width: 7px;
        }
        ::-webkit-scrollbar:horizontal {
          height: 7px;
        }

      }
    }

    &__preview-block {
      height: 300px;
      background: #fff;
      margin: 0 5px 5px 0;
      padding: 20px;
      overflow: scroll;

      ::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      ::-webkit-scrollbar-track{
        background-color: #272822;
      }

      ::-webkit-scrollbar-thumb{
        border-radius: 0px;
        background-color: #444;
        border: none;
      }

      ::-webkit-scrollbar:vertical{
        width: 7px;
      }
      ::-webkit-scrollbar:horizontal {
        height: 7px;
      }
      &__code-wrapper {
        float: left;
        width: 100%;
      }
      &__code {
        padding: 0px;

        .help-block{
          opacity: 100 !important;
          top: 0 !important;;
        }

        pre{
          padding: 10px !important;
          margin: 10px 0 10px 0 !important;;
        }

        .form-group {
          overflow: visible;

          .clearfix::before, .clearfix::after {
            content: ''
          }
        }
      }
    }
  }
}