/** Core **/
@import url('fontello.css');
@import url('bootstrap.min.css');
@import url('bootstrap-switch.css');
@import url('perfect-scrollbar.css');
@import url('jquery-ui.css');
@import url('animation.css');

/** Webiny general layout style */
@import url('webiny_style.css');

/** Webiny component styles **/
@import url('webiny_general.css');
@import url('webiny_modal.css');
@import url('webiny_buttons.css');
@import url('webiny_datepicker.css');
@import url('webiny_selectize.css');
@import url('webiny_switch.css');
@import url('webiny_inputs.css');
@import url('webiny_icheck.css');
@import url('webiny_panel.css');
@import url('webiny_dropdown.css');
@import url('webiny_table.css');
@import url('webiny_tooltip.css');
@import url('webiny_tabs_accordion.css');
@import url('webiny_elements.css');
@import url('webiny_wizard.css');
@import url('webiny_sortable.css');

/** CMS Styles **/
@import url('cms.css');

/** Overwrite **/
@import url('overwrites.css');


