/* When we reach the final version of Master Layout - merge these changes into core files */
.cropper-container {
  overflow: visible;
}

.tray-bin__file.placeholder {
  width: 163px;
  height: 210px;
  border: 2px dashed rgba(128, 128, 128, 0.31);
  text-align: center;
  display: inline-block;
  background-color: transparent;
  margin: 0 2px 15px;
  color: rgb(198, 198, 198);
  padding-top: 90px;
  font-weight: bold;
  font-size: 16px;
}

/** SEARCH COMPONENT **/
.search {
  padding: 0 0 0 36px;
  a {
    &.btn {
      left: 0;
      margin-left: 0;
    }
  }
  .autosuggest {
    .plain-search {
      padding: 0;
      ul {
        li {
          padding: 14px 10px;
          margin: 0;
          &.selected {
            background-color: #F8F8F8;
            a {
              color: #F95015;
            }
          }
        }
      }
    }
  }
}

.panel {
  position: relative;
}

.view-content {
  padding: 50px 50px 0;
}

.modal-dialog .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show.modal-dialog .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 12px 50px 11px 23px;
}

.expandable-list {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px;

  .expandable-list__title h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FA5A28;
  }

  .expandable-list__action-set{
    padding-top: 10px;
    padding-right: 0px;
    text-align: right;
  }

  .expandable-list__header{
    width: 100%;
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 15px;
    margin-bottom: -1px;
    background-color: #ddd;
    &:first-child{
      padding: 15px 0;
    }
  }

  .expandable-list__row {
    width: 100%;
    will-change: transform, -webkit-transform;
    margin: 0;
    outline: none;
    position: relative;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: -1px;
    background-color: #fff;
    transition: all 225ms;
    cursor: pointer;
    z-index:1;

    &:hover {
      background: #fafafa;
      z-index:2;
    }

    &.expandable-list__row--active {
      background-color: #ddd;
      box-sizing: border-box;
      outline: none;
      padding: 20px 16px;
      margin-top: 25px;
      margin-bottom: 25px;
      width: auto;
      box-shadow: 0 0 0 10px #ddd;
      cursor:auto;

      &:last-child{
        margin-bottom: 0px;
      }

      .expandable-list__row__fields{
        margin: 0px;
      }

      .expandable-list__row__action-set{
        padding-top: 7px;
      }

      .expandable-list__row__details {
        opacity: 1;
        visibility: visible;
        margin: 0px;
        cursor:auto;
        border:none;

        .expandable-list__row__details__list{

        }

        .expandable-list__row__details__content{
          margin: 0px;
          background-color: #fff;
          padding: 0px;
        }

        .expandable-list {
          margin-bottom: 0px;
          padding: 20px;

          .expandable-list__row{
            box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.23);
          }

          .expandable-list__row--active {
            margin: 0px;
            background-color: #fff;
            padding: 20px;
            margin: 20px -25px;
          }
        }

      }
    }

    .expandable-list__row__fields > div {
      display: inline-block;
      box-sizing: border-box;
      padding: 15px;
      font-weight: 400;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}