.tray-bin__file.placeholder {
  width: 163px;
  height: 210px;
  border: 2px dashed rgba(128, 128, 128, 0.31);
  text-align: center;
  display: inline-block;
  background-color: transparent;
  margin: 0 2px 15px;
  color: rgb(198, 198, 198);
  padding-top: 90px;
  font-weight: bold;
  font-size: 16px;
}

.fileUpload {
  height: 38px;
}

/** SEARCH COMPONENT **/
.search {
  padding: 0 0 0 36px;
  a {
    &.btn {
      left: 0;
      margin-left: 0;
    }
  }
  .autosuggest {
    .plain-search {
      padding: 0;
      ul {
        li {
          padding: 14px 10px;
          margin: 0;
          &.selected {
            background-color: #F8F8F8;
            a {
              color: #F95015;
            }
          }
        }
      }
    }
  }
}

.panel {
  position: relative;
}

.view-content {
  padding: 50px 50px 0;
}

.modal-dialog .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show.modal-dialog .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 12px 50px 11px 23px;
}

/** FontAwesome css fix to match behavior from Fontello **/
[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/** DASHBOARD - ONLY PARTS WE NEED **/
.hl-element {
  color: $highlightColor;
}

.chart-block {
  margin-bottom: 20px;
  margin-top: 0;
  background-color: white;
  height: 369px;
  overflow: visible;
  padding: 0; /* adding padding to c3js causes visual issues - use margin instead */
  position: relative;
}

.dash-table {
  height: 100%;
}

.view-switch {
  font-size: 18px;
  float: right;
  margin: 5px 0 0 15px;
  color: $smallLabelFontColor;

  .active {
    color: $highlightColor;
  }

  .switch-graph {
    cursor: pointer;
    &:hover {
      color: $highlightColor;
    }
  }
  .switch-list {
    cursor: pointer;
    &:hover {
      color: $highlightColor;
    }
  }
  @media (max-width: 486px) {
    margin: 5px 0 0 0;
  }
}

.list-switch-drop {
  margin-top: 10px;
  .btn {
  }
}

.mark-as-read {
  margin-left: 25px;
}

@media (min-width: 485px) and (max-width: 767px) {
  .counter-block-element {
    display: inline-block;
    width: calc(100% / 2 - 2px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .master-content__header {
    clear: left;
  }

  .counter-block-element {
    display: inline-block;
    width: calc(100% / 2 - 2px);
  }
}

/** END OF: DASHBOARD - ONLY PARTS WE NEED **/

/** building-blocks.scss overrides **/

.block-title-light {
  display: inline-block;
  font-size: 13px;
  opacity: 1;
  text-transform: uppercase;
  vertical-align: middle;
  float: right;
  @media (max-width: 486px) {
    float: left;
    width: 100%;
  }
}

/** DRAFT EDITOR **/
.rich-editor {
  .CodeMirror {
    min-height: 45px;
    height: auto;
  }

  &.toolbar-floated {
    padding-top: 45px;
  }

  &__root {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;

    .editor-toolbar {
      min-height: 28px;
      position: relative;
      z-index: 2;

      &.floating {
        height: 50px;
        position: fixed;
        top: 53px;
        z-index: 2000;
        background-color: white;
        padding: 12px 10px 10px 16px;
        border-bottom: 1px solid #ddd;
        box-shadow: 0px 5px 10px -8px gray;
      }
      .btn {
        margin: 0;
      }
      .dropdown > .btn {
        height: 28px;
        line-height: 100%;
      }
      .dropdown:after {
        content: '';
      }

      .toolbar-action {
        float: left;
        display: block;
        margin-right: 6px;
        position: relative;
        z-index: 1;

        button:not(.dropdown-toggle) {
          padding: 7px;
          border-radius: 0;
        }
        .btn:hover{
          box-shadow: 0px 0px 0px 1px #cdcdcd;
        }
      }
    }
  }

  &__editor {
    // border-top: 1px solid #ddd;
    cursor: text;
    margin-top: 10px;

    span[data-text="true"] {
      font-size: 16px;
      color: #393939;
      line-height: 150%;
    }

    .public-DraftEditorPlaceholder-root, .public-DraftEditor-content {
      margin: 0 -15px -15px;
      padding: 15px;
    }

    .public-DraftEditor-content {
      min-height: 100px;
    }

    .public-DraftEditorPlaceholder-root {
      display: none;
    }

    .public-DraftStyleDefault-pre {
      background-color: rgba(0, 0, 0, 0.05);
      font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
      font-size: 16px;
      padding: 20px;
    }

    &__blockquote {
      border-left: 5px solid #eee;
      color: #666;
      font-family: 'Hoefler Text', 'Georgia', serif;
      font-style: italic;
      margin: 16px 0;
      padding: 10px 20px;
    }

    figure {
      .row:before,
      .row:after {
        content: ''
      }
    }

    .clearfix {
      &:before, &:after {
        content: ''
      }
    }
  }

  .image-plugin-wrapper {
    display: block;
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.175);

    .image-wrapper {
      margin: 20px;

      .resizer {
        border: 1px dashed blue;
        width: auto;
        position: relative;
        display: inline-block;
        .resize-handle {
          position: absolute;
          height: 10px;
          width: 10px;
          border: 1px solid blue;
          border-radius: 50px;
          &.br {
            cursor: nwse-resize;
            bottom: -5px;
            right: -5px;
            background-color: #fff;
          }
        }
      }
    }
  }

  .code-block .rich-editor {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 100%;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    background-color: inherit;
    border: none;
    border-radius: 4px;
    font-family: Monaco, Consolas, "Courier New", monospace;
  }

  .code-block {
    &--preview {
      pre {
        background-color: #23241f;
      }
    }
  }

  .plugin-block-wrapper {
    position: relative;
  }
}

.table {
  .rich-editor__root {
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
  }
  .rich-editor__editor {
    margin: 0;

    .public-DraftEditor-content {
      padding-top: 0;
      min-height: 40px;
    }
  }

  .editor-toolbar {
    position: absolute;
    top: -80px;
    z-index: 200;
    background-color: #fff;
    padding: 6px 0 6px 8px;
    border-top: 4px solid #FA5723;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    .btn {
      font-size: 12px;
      font-weight: 400;
      &.btn-primary {
        color: white;
      }
    }
  }
}

/** END OF DRAFT EDITOR **/