/* When we reach the final version of Master Layout - merge these changes into core files */
.cropper-container {
  overflow: visible;
}

.tray-bin__file.placeholder {
  width: 163px;
  height: 210px;
  border: 2px dashed rgba(128, 128, 128, 0.31);
  text-align: center;
  display: inline-block;
  background-color: transparent;
  margin: 0 2px 15px;
  color: rgb(198, 198, 198);
  padding-top: 90px;
  font-weight: bold;
  font-size: 16px;
}

/** SEARCH COMPONENT **/
.search {
  padding: 0 0 0 36px;
  a {
    &.btn {
      left: 0;
      margin-left: 0;
    }
  }
  .autosuggest {
    .plain-search {
      padding: 0;
      ul {
        li {
          padding: 14px 10px;
          margin: 0;
          &.selected {
            background-color: #F8F8F8;
            a {
              color: #F95015;
            }
          }
        }
      }
    }
  }
}

.panel {
  position: relative;
}

.view-content {
  padding: 50px 50px 0;
}

.modal-dialog .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show.modal-dialog .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}