.viewContent {
	padding: 50px 50px 0;
}

.viewContent .panel {
	padding: 0;
	position: relative;
	background-color: #fff;
	border: none;
}

.viewContent .panel .panelBody {
	padding: 40px;
	color: #666;
	position: relative;
}

.viewContent .panel .panelNoPadding {
	padding: 0px;
}

.viewContent .panel .panelFooter {
	padding: 25px 35px;
	background-color: #fff;
}

.viewHeader {
	background-color: #fff;
	position: relative;
	padding: 40px 50px;
}

.viewHeader .titleWrapper {
	display: inline-block;
}

.viewHeader .titleRight {
	display: inline-block;
	float: right;
}

.viewHeader .titleWrapper h2.titleContent {
	border: 0;
	margin: 0;
	font-size: 2.25em;
	color: #393939;
	padding-bottom: 5px;
	font-weight: 500;
	border: none;
}

.viewHeader .titleWrapper .titleDescription,
.viewHeader .titleWrapper .titleDescription a {
	font-size: 14px;
	top: 0;
}

.viewHeader .titleWrapper .appName {
	color: #999;
}

.viewHeader a, .viewHeader button {
	position: relative;
	top: 8px;
}

.chartBlock, .infoBlock {
	width: 100%;
	margin-top: 30px;
}

.chartBlock .header, .infoBlock .header {
	position: relative;
	background-color: white;
	min-height: 75px;
	padding: 30px 30px 0 30px;
	z-index: 10;
}

.chartBlock .header:after, .infoBlock .header:after {
	content: "";
	display: block;
	clear: both;
	float: none;
}

.chartBlock .title, .infoBlock .title {
	margin: 0 20px 0 0;
	font-weight: 600;
	font-size: 22px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	max-width: 75%;
}

.chartBlock .titleLight, .infoBlock .titleLight {
	margin: 5px 0 0 0;
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
	float: right;
	text-transform: uppercase;
}

.chartBlock .container, .infoBlock .container {
	padding: 5px 20px 30px 20px;
	background-color: white;
	min-height: 295px;
	overflow: hidden;
	z-index: 20;
}

/* make some bits nicer for mobile */
@media (max-width: 768px) {
	.viewHeader {
		padding: 20px;
		margin-top: -20px;
	}

	.viewHeader .titleRight {
		display: block;
		width: 100%;
		float: none;
	}

	.viewHeader .titleRight .Webiny_Ui_Link_btn,
	.viewHeader .titleRight a,
	.viewHeader .titleRight button {
		display: block;
		float: none !important;
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 10px;
	}

	.viewHeader .titleWrapper h2.titleContent {
		font-size: 1.25em;
	}

	.viewContent {
		padding: 10px;
	}

	.viewContent .panel .panelBody {
		padding: 20px;
	}
}