.input-group.date {
  position: relative;
  display: block;

  .form-control {
    display: block;
    float: none;
  }

  .input-group-addon {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    transform: translateY(-50%);

    display: block;
    width: auto;
    height: 100%;
    padding: 12px;
    border: none;

    background: none;

    cursor: pointer;
  }
  .icon-calendar {
    font-size: 20px;
    color: #333;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background: #FFF;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  color: #333;
  padding: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  border-radius: 0;
  z-index: 5000 !important;
  opacity: 0;

  animation: fadeIn 225ms cubic-bezier(0.22, 0.61, 0.36, 1) both;

  ul {
    li {
      list-style-type: none;
      padding-left: 0;
    }
  }
}

.bootstrap-datetimepicker-widget {
  li.picker-switch{
    span{
      margin: 0px;
      border-radius: 0;
      text-align: center;
      .glyphicon{
        top:0px;
      }
    }
  }
  table {
    margin: 0px;
    padding: 0px;
    border: none;
    thead {
      tr:first-child {
        th {
          position: relative;
          border-radius: 0;
          color: #fff;
          border: none;
          padding: 15px 0;
          background: #FA5A28;

          &:hover {
            background: #FA5A28;
          }
        }
      }
    }

    td{
      a{
        margin-right: 0px;
        &.btn{
          margin: 0px;
          padding: 0px;
        }
      }

      &.day {
        margin: 2px;
        border-radius: 0;
        border: 2px solid #fff;
        background-color: #f6f6f6;
        font-size: 14px;
        text-align: center !important;
        width: 35px;
        height: 35px;
      }

      &.old {
        background-color: transparent;
      }

      &.today {
        color: #fff;
        background-color: #00ccae;
      }

      &.today:before {
        display: none;
      }

      &.active {
        background-color: #337ab7;
        display: table-cell;
      }
    }
  }

  th {
    border-radius: 0;
  }

  .dow {
    font-weight: normal;
    font-size: 16px;
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: none;
    font-weight: normal;
    font-size: 14px;
    color: #333;
    padding: 5px;
  }

  .ui-state-highlight,
  .ui-widget-content .ui-state-highlight,
  .ui-widget-header .ui-state-highlight {
    background: #00CCAE;
    color: #fff;
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover {
    background: #00CCAE;
  }

  .datepicker {
    display: block;
    td a {
      background: #fff;
    }
  }

  .prev,
  .next {
    font-size: 30px;
  }
}

