/**
 * Tabs
 */

/* ul.nav.nav-tabs {
  background-color: #F0F0F0;
  border: 1px solid #E8E8E8;
  padding: 0;
  &.nav-stacked {
    margin-right: -1px;
  }
  li {
    float: left;
    clear: none;
    border-bottom: 4px solid #F0F0F0;
    padding: 0;
    &:hover {
      border-bottom: 4px solid #ccc;
    }
  }
  &.nav-stacked li {
    float: none;
    clear: both;
  }
  li {
    &.active {
      border-bottom: 4px solid #FA5723;
      margin-left: -1px;
      padding-left: 1px;
    }
    button.close {
      padding-top: 3px;
      &:hover {
        color: #FA5723;
      }
    }
    a {
      border: none;
      background-color: transparent;
      &:hover {
        border: none;
        background-color: transparent;
      }
      text-transform: uppercase;
      border-radius: 0;
      color: #666666;
    }
  }
}

.tab-content {
  border: 1px solid #E8E8E8;
  > .active {
    padding: 15px 10px 0 10px;
  }
  .tab-pane {
    clear: both;
  }
} */

/**
 * Tabs end
 */

/**
 * Collapsible
 */

.panel-group .panel {
  border-radius: 0;
}

.panel-default {
  border-color: #cccccc;
  > .panel-heading {
    border-color: #cccccc;
    background-color: #F0F0F0;
  }
}

.panel-title {
  text-transform: uppercase;
  color: #666666;
}

.panel-body {
  color: #666;
}

.panel-title > a:hover {
  color: #FA5723;
}




.tab-pane {
  padding: 20px;

  background-color: #fff;
}

.form-group--keywords {
  .control-label {
    float: left;
    margin-top: 12px;
  }

  .fileUpload {
    position: relative;
    float: right;
    clear: right;
  }
}

.keyword-container{
  position: relative;

  clear: both;
  border: 1px solid $borderColor;
  padding: 5px;
  padding-right: 85px;

  background-color: $formBgColor;

  .keyword-block{
    position: relative;
    display: inline-block;
    float: left;
    margin: 2px 2px;
    padding: 8px 35px 8px 15px;
    background-color: $highlightColor;
    border-radius: 20px;
    p{
      margin: 0;

      color: white;
      font-size: 14px;
      line-height: 1;
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: rgba(255,255,255, 0.5);
      cursor: pointer;
    }
  }
  .keyword-input{
    width: 250px;
    padding: 8px;
    background-color: $formBgColor;
  }
  .remove-keyword{
    position: absolute;
    top: 23px;
    right: 10px;
    cursor: pointer;
    p{
      margin: 0;

      font-size: 10px;
      line-height: 1;
      text-transform: uppercase;

      i{
        height: 8px;
        font-size: 12px;
        color: $importantColor;
        vertical-align: middle;

        &:before {
          margin-top: -2px;
          height: 8px;
          vertical-align: top;
        }
      }
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
}