/**
 * Tabs
 */
ul.nav.nav-tabs {
	border: none;
	background-color: #F0F0F0;
	border: 1px solid #E8E8E8;
	padding: 0px;
}

ul.nav.nav-tabs.nav-stacked{
	margin-right: -1px;
}

ul.nav.nav-tabs li {
	float: left;
	clear: none;
	border-bottom: 4px solid #F0F0F0;
	padding: 0;
}

ul.nav.nav-tabs li:hover{
	border-bottom: 4px solid #ccc;
}

ul.nav.nav-tabs.nav-stacked li {
	float: none;
	clear: both;
}

ul.nav.nav-tabs li.active {
	border-bottom: 4px solid #FA5723;
	margin-left: -1px;
	padding-left: 1px;
}

ul.nav.nav-tabs li button.close{
	padding-top: 3px;
}

ul.nav.nav-tabs li button.close:hover{
	color: #FA5723;
}

ul.nav.nav-tabs li a, ul.nav.nav-tabs li a:hover {
	border: none;
	background-color: transparent;
}

ul.nav.nav-tabs li a {
	text-transform: uppercase;
	border-radius: 0px;
	color: #666666;
}

.tab-content {
	border: 1px solid #E8E8E8;
}

.tab-content > .active {
	padding: 15px 10px 0 10px;
}

.tab-content .tab-pane{
	clear: both;
}
/**
 * Tabs end
 */



/**
 * Collapsible
 */
.panel-group .panel{
	border-radius: 0px;
}

.panel-default{
	border-color: #cccccc;
}

.panel-default>.panel-heading{
	border-color: #cccccc;
	background-color: #F0F0F0;
}

.panel-title{
	text-transform: uppercase;
	color: #666666;
}

.panel-body{
	color: #666;
}

.panel-title>a:hover{
	color: #FA5723;
}
