.translationListRow {
  translation-key {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  translation-base {
    display: block;
    font-size: 13px;
  }
  translations {
    display: block;
    border-top: 2px solid red;
    margin-top: 10px;
    ul {
      margin: 10px 0;
      li {
        list-style: none;
        font-size: 14px;
        border-bottom: 1px solid rgb(224, 224, 224);
        padding: 5px;
        &:hover {
          background-color: rgba(255, 160, 130, 0.22);
          cursor: pointer;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}