{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/core-modules": [
            "Webiny"
        ]
    },
    "rules": {
        "import/no-unresolved": [
            2,
            {
                "ignore": [
                    "^Assets"
                ]
            }
        ],
        "import/no-extraneous-dependencies": 0,
        "react/no-multi-comp": 0,
        "react/react-in-jsx-scope": 0,
        "react/sort-comp": 0,
        "react/prop-types": 0,
        "react/no-is-mounted": 0,
        "react/jsx-closing-bracket-location": [
            2,
            "after-props"
        ],
        "react/jsx-space-before-closing": 0,
        "react/jsx-tag-spacing": 0,
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/jsx-boolean-value": 0,
        "react/jsx-indent": [
            2,
            4
        ],
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            2,
            "never"
        ],
        "object-curly-spacing": 0,
        "new-cap": 0,
        "max-len": [
            2,
            {
                "code": 140
            }
        ],
        "no-param-reassign": 0,
        "radix": [
            2,
            "as-needed"
        ],
        "no-console": 0,
        "eol-last": 0,
        "dot-notation": 0,
        "no-script-url": 0,
        "no-underscore-dangle": 0,
        "class-methods-use-this": 0,
        "arrow-parens": [
            2,
            "as-needed"
        ]
    },
    "globals": {
        "webinyWebPath": false,
        "webinyJsPath": false,
        "webinyCssPath": false,
        "webinyApiPath": false,
        "webinyConfig": false,
        "webinyEnvironment": false,
        "webinyMeta": false,
        "jQuery": false,
        "$": false,
        "React": false,
        "ReactDOM": false,
        "_": false,
        "google": true
    }
}