.breadcrumb {
	position: relative;
	display: inline-block;
	margin-bottom: 0;

	background: none;

	> li {
		padding-left: 0;

		> a {
			color: #656565;
			text-decoration: none;
		}
	}

	> li + li {
		&:before {
			content: ">";
		}
	}

	.active {
		color: #393939;
		font-weight: bold;
	}
}