.growl {
  z-index: 9999;
  color: #ffffff;
  position: fixed;
}
.growl.top-left {
  left: 0;
  top: 55px;
}
.growl.top-right {
  right: 0;
  top: 55px;
}
.growl.bottom-left {
  left: 0;
  bottom: 55px;
}
.growl.bottom-right {
  right: 0;
  bottom:55px;
}
.growl.center {
  top: 0;
  width: 50%;
  left: 25%;
}

.growl-notification {
  background: #3F89BF;
  border: none;
  font-size: 15px;
  color: #fff;
  line-height: 125%;
  font-weight: 300;
  border-radius: 0;
  zoom: 1;
  width: 250px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  display: none;
  word-break: break-all;
  min-height: 40px;
}

.growl.top-right .growl-notification,
.growl.top-left .growl-notification{
  animation: bounceInDown 800ms cubic-bezier(0.22, 0.61, 0.36, 1) both;
}

.growl.bottom-right .growl-notification,
.growl.bottom-left .growl-notification{
  animation: bounceInUp 800ms cubic-bezier(0.22, 0.61, 0.36, 1) both;
}

.growl-notification.danger {
  background: #CC3300;
}

.growl-notification.success {
  background: #3FBFB0;
}

.growl-notification.warning {
  background: #FAA32E;
}

.growl-notification .growl-header {
  font-weight: 600;
  font-size: .85em;
}
.growl-notification .growl-close {
  background-color: transparent;
  color: inherit;
  border: none;
  z-index: 99;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}