.modal {
    z-index: 2001;
}

.modal-backdrop {
    z-index: 2000;
    background-color: rgba(0, 0, 0, 1);
    opacity:0;
    transition: all 0.3s;
}

.modal-backdrop.in{
    opacity: 0.8;
}

.modal-dialog.modal-full-width {
    width: 90%;
    max-height: 90%;
    max-width: none;
}


.modal-dialog .modal-content{
    will-change: transform, opacity;
    backface-visibility: hidden;

    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-show.modal-dialog .modal-content{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.modal-content {
    border-radius: 0;
    background-color: #fff;
    -webkit-animation: fadeIn 0.2s;
}

.modal-content .modal-header {
    padding: 0;
    height: 65px;
    background: #F0F0F0;
    color: #393939;
    border: none;
}

.modal-content .modal-footer {
    background: #F0F0F0;
    padding: 15px 20px 20px;
    margin-top: 0;
    border: none;
}

.modal-content h4 {
    padding: 18px 0 10px 20px;
    text-align: left;
    font-size: 26px;
    display: inline-block;
    margin: 0;
}

.modal-content .modal-body {
    color: #666;
    margin-top: 0;
    padding: 0;
}

.modal-header .close {
    margin-top: -2px;
    font-size: 32px;
    display: inline-block;
    float: right;
    padding: 18px 20px;
    background: transparent;
    opacity: 0.4;
}

.modal-header .close:hover {
    opacity: 1;
}

.alert-modal {
    .modal-header {
        background-color: transparent;
    }

    .modal-content {
        text-align: center;
    }

    .modal-body {
        padding: 0 35px;
    }

    h2 {
        font-size: 24px;
        color: #F85721;
        text-decoration: none;
        border-bottom: 0;
        text-transform: uppercase;
    }

    .modal-footer {
        background-color: transparent;
        padding: 35px;
        text-align: center;
    }

    .btn {
        font-size: 18px;
        padding: 8px 35px;
        font-weight: 300;
    }
}

.settings-modal {
    .modal-dialog {
        width: 1200px;
        right: 0;
        top: 0;
    }
    .modal-content {
        box-shadow: none;
        padding: 0;
        height: 100%;
        background: #F7F7F7;
        .modal-header {
            padding: 4px 5px 11px 12px;
            background: #F0EEEE;
            text-transform: uppercase;
            text-align: left;
            height: auto;
            margin-bottom: 0;
            .close {
                font-weight: 700;
            }
        }
        .modal-left {
            float: left;
            width: 20%;
            text-align: left;
            background: #F7F7F7;
            padding: 0 0;
            display: table-cell;
            li {
                list-style-type: none;
                display: block;
                margin: 0;
                padding: 0;
            }
            a {
                display: block;
                padding: 20px 15px;
                border-bottom: 1px solid #E7E5E5;
                color: #4C4C4C;
                text-transform: uppercase;
                &:hover {
                    text-decoration: none;
                    background-color: white;
                }
                span.icon {
                    color: #C3C3C3;
                    margin-right: 5px;
                }
                &:hover span {
                    color: #F85721;
                }
            }
            li.active a {
                background: #fff;
            }
        }
        .modal-right{
            width: calc(100% - 20%);
            float: right;
            padding: 20px;
            background-color: white;
        }
    }
    &.step-2 .modal-content .modal-left li.active a {
        background: #F4F4F4;
    }
    .modal-content .modal-left li.active a span.icon {
        color: #F85721;
    }
    &.step-2 {
        .modal-left span.txt {
            display: none;
        }
        .modal-content .modal-left {
            width: auto;
        }
    }
    .modal-content .modal-left ul {
        padding: 0;
        margin: 0;
    }
    &.step-2 .modal-content .modal-right {
        .grid-type {
            display: none;
        }
        width: 11%;
        padding: 5px;
        background: #F4F4F4;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 2px;
            a {
                background: #fff;
                margin: 0;
                padding: 15px 5px;
            }
            &.active a {
                background: #fff;
                margin: 0;
                padding: 15px 5px;
                border: 1px solid #F76339;
            }
            span.icon {
                font-size: 23px;
            }
        }
    }
    .modal-content .editor-wrap {
        display: none;
    }
    &.step-2 .modal-content .editor-wrap {
        float: left;
        width: 81%;
        padding: 20px 25px;
        display: block;
        h2 {
            font-size: 24px;
            text-transform: uppercase;
            color: #F85721;
            text-align: left;
        }
    }
}
