.tabs {
	border: 1px solid #E7E5E5;
}

.tabs__header {
	text-align: left;
	padding: 5px 15px;
}

.tabs__title {
	display: inline-block;
}

.tabs__body {
	display: flex;
	align-items: stretch;
}

.tabs__navigation {
	padding: 0;
	border: none;
	
	background-color: #F3F3F3;

	&.nav-stacked {
		margin-right: -1px;
	}

	> li {
		display: block;
		margin: 0;
		padding: 0;
		
		list-style-type: none;
		
		> a {
			position: relative;

			display: block;
			margin-right: 0;
			padding: 20px 15px 20px 15px;
			border: none;
			border-radius: 0; 
			white-space: nowrap;

			color: #4C4C4C;
			text-transform: uppercase;

			&:hover {
				border: none;
				text-decoration: none;
				background-color: white;
			}

			> span.icon {
				color: #C3C3C3;
				margin-right: 5px;
			}
		}
	}

	> li.active {
		background-color: #fff;

		> a {
			border: none;

			> .icon,
			> .txt {
				color: #F85721;
			}

			&:hover,
			&:focus {
				border: none;
			}
		}
	}
}

.tabs__navigation-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 25%;
	background-color: #f0f0f0;
}

.tabs__panes {
	flex-basis: 75%;
	background-color: #fff;

	.tab-pane {
		display: none;

		&.active {
			display: block;
			height: 100%;
		}
	}
}

.tabs__panes--with-border {
    border-left: 1px solid #E3E3E3;
}


.tabs__footer {
	background-color: #ececec;
}



@media (min-width: 600px) {
	.tabs--navigation-top {
		.tabs__header {
			border-bottom: 1px solid #E7E5E5;
		}

		>.tabs__body {
			flex-direction: column;
			
			>.tabs__navigation {
				display: flex;
				flex-wrap: wrap;
				flex-basis: 100%;

				> li {
					border-right: 1px solid #E7E5E5;
				}

				> .active {
					> a {
						border-bottom: 0px solid;
					}
				}
			}
		}

		.tabs__panes {
			flex-basis: 1;
		}
	}
	
	.tabs--navigation-left {
		>.tabs__body {
			>.tabs__navigation {
				display: flex;
				flex-wrap: wrap;
				flex-basis: 25%;
				flex-direction: column;

				> li {
					text-align: left;
					border-bottom: 1px solid #E7E5E5;
				}

				> .active {
					> a {
						border-right: 0px solid;
					}
				}
			}
		}
	}
}