.page-manager {
	display: flex;
	
	.panel__sidebar {
		flex-basis: 35%;
		border-right: 1px solid #e3e3e3;
	}

	.panel__sidebar-header {
		padding: 27px 15px 22px 22px;

		background-color: #fbfbfb;
	}

	.panel__sidebar-sorter {
		display: inline-block;
	}

	.panel__sidebar-sortable {
		position: relative;
		margin-right: 33px;
		padding-right: 10px;

		color: rgba(89,89,89, 0.7);
		text-transform: uppercase;

		&:after {
			@extend %icon-fontello;
			content: "\E811";

			color: #666666;
		}
	}

	.panel__sidebar-sortable--category {
		padding-left: 15px;

		&:before {
			content: "";
			
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			z-index: 1;

			display: block;
			width: 9px;
			height: 9px;
			border-radius: 50%;

			background-color: $color-secondary;
		}
	}

	.panel__sidebar-checkbox {
		float: right;
	}

	.panel-body {
		flex-basis: 65%;
	}

	.tab-pane {
		padding: 5px 40px;
	}
}

.pm-navigation {
	max-height: 100vh;
	overflow-y: auto;
}

.pm-navigation__item {
	padding: 20px 15px 30px 25px;
	list-style: none;
	border-left: 4px solid #7f7873;
	border-bottom: 1px solid #e3e3e3;
	cursor: pointer;

	>div {
		
	}

	&:hover {
		background-color: #fbfbfb;

		.actions {
			visibility: visible;
		}
	}
}

.pm-navigation__item--pinned {
	border-left-color: $color-primary;
}

.pm-navigation__item--published {
	border-left-color: $color-secondary;
}

.pm-navigation__item-header {
	margin-bottom: 15px;

	color: rgba(89,89,89, 0.5);
	font-size: 13px;

	>div {
		display: inline-block;
		margin-right: 33px;
	}

	.actions {
		visibility: hidden;
		margin-right: 0;
		float: right;
	}
}

.pm-navigation__item-body {
	position: relative;
	padding-right: 50px;
}

.pm-navigation__item-title {
	font-size: 18px;
	font-weight: 600;
}

.pm-navigation__item-checkbox {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.preview-page {

}

.preview-page__header {
	padding: 13px 0;
	border-bottom: 1px solid #e3e3e3;
}

.preview-page__details {
	display: inline-block;
	padding: 14px 0;

	>div {
		display: inline-block;
		margin-right: 33px;

		color: rgba(89,89,89, 0.5);
	}
}

.preview-page__revisions {
	float: right;
}

.preview-page__body {
	
	h1 {
		border: none;
		margin-bottom: 25px;

		font-size: 25px;
	}
	
	p {
		margin-bottom: 30px;
		
		font-size: 19px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	blockquote {
		position: relative;

		padding: 40px;
		border: none;
		
		color: $color-primary;
		font-size: 20px;
		line-height: 1.4;

		&:before {
			@extend %icon-fontello;

			content: "\E84E";
			position: absolute;
			top: 20px;
			left: 0;

			font-size: 55px;
			color: transparentize($color-primary, 0.8);
		}
	}
}