.editableTranslation {
  label {
    font-size: 13px;
    margin-bottom: 0;
  }
  textarea {
    min-height: initial;
    resize: vertical;
  }
  webiny-form-container > div {
    margin-bottom: 0;
  }
}